{{post.title}}
{{post.content}}
{{format_date post.created_at}}

<h3>Comments</h3>
<p> (click 'add comment' button to add a comment or edit to edit your post') </p>
<ul class="post-list">
  {{#each post.comments}}
  <li>
 {{comment_text}}
  </li>
  {{/each}}
</ul>



{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"> </textarea>
  </div>

  <div>
    
    <a href="/post/edit/{{comment.id}}"><button type="submit">add comment</button></a>
    <a href="/post/edit/{{post.id}}"><button type="button" class="upvote-btn">Edit</button></a>
  </div>
</form>
{{/if}}

{{!-- {{> comments post.comments}} --}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}